version: '3.8'

services:
  postgres:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user1234
      POSTGRES_PASSWORD: user1234
      POSTGRES_DB: localdb
    volumes:
      - ./data:/var/lib/postgresql/data